.tickbox {
    font-size: 40px;
    width: 70%;

}

#list {
    columns: 200px 2;
}

.tickbox:hover {
    background-color: #18BC9C;
    color: white;
}

input[type=checkbox]:checked + label.tickbox {
	color: red;
  }
  

.checkboxes label {
	font-family:Open Sans Italic;
	font-size: 12px;
	color: #666;
	border-radius: 20px 20px 20px 20px;
	background: #f0f0f0;
	padding: 3px 10px;
	text-align: left;
}