<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../Resources/style/style.css">
<body>

<!-- Header -->
<header class="w3-container w3-center fullWidth">
    <div class="fullWidth centered">
        <h1 class="w3-jumbo">Weekend Fuel Bag</h1>
        <p class="w3-xlarge">VanHacks</p>
        <button id="individualSignUpButton" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Individuals</button>
        <button id="orgSignUpButton" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Organizations</button>
        <p><a href="admin.html" onclick="testing();">Admin</a></p>
    </div>
</header>

</body>
<script src="https://www.gstatic.com/firebasejs/5.5.1/firebase.js"></script>
<script src="../Controllers/scripts/firebaseConfig.js" type="module"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</html>
