<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <script src="https://www.gstatic.com/firebasejs/5.5.1/firebase.js"></script>
        <script src="../Controllers/scripts/firebaseConfig.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="../Controllers/scripts/listResources.js"></script> 
        <script src="../Controllers/scripts/filter.js"></script>
    </head>
    <!--render() for now while I change some js logic-->
    <body onload="render()">
        
        <div class="container-fluid" id = "div1">
            <div class = "container-fluid" id = "div2">
                
            </div>
        </div>
    </body>
</html>